In [ ]:
%spark.pyspark
df=spark.read.csv('s3://datasetsjppenaf/datasets/tablecovid/',inferSchema=True,header=True)

In [1]:
%spark.pyspark
df.createOrReplaceTempView("covid1")

In [2]:
%spark.pyspark
df_1_sql = spark.sql("SELECT COUNT(`nombre departamento`), `nombre departamento` FROM covid1 GROUP BY `nombre departamento` ORDER BY COUNT(`nombre departamento`) DESC LIMIT 10;")

In [3]:
%spark.pyspark
df_1_sql.show()

In [4]:
%spark.pyspark
df_2_sql = spark.sql("SELECT COUNT(`nombre municipio`), `nombre municipio` FROM covid1 GROUP BY `nombre municipio` ORDER BY COUNT(`nombre municipio`) DESC LIMIT 10;")

In [5]:
%spark.pyspark
df_2_sql.show()

In [6]:
%spark.pyspark
df_3_sql = spark.sql("SELECT COUNT(`fecha de diagn贸stico`), `fecha de diagn贸stico` FROM covid1 GROUP BY `fecha de diagn贸stico` ORDER BY COUNT(`fecha de diagn贸stico`) DESC LIMIT 10;")

In [7]:
%spark.pyspark
df_3_sql.show()

In [8]:
%spark.pyspark
df_4_sql = spark.sql("SELECT COUNT(`edad`), edad FROM covid1 GROUP BY edad ORDER BY COUNT(`edad`) DESC LIMIT 10;")

In [9]:
%spark.pyspark
df_4_sql.show()

In [10]:
%spark.pyspark
df_5_sql = spark.sql("SELECT AVG(edad), `nombre departamento` FROM covid1 GROUP BY `nombre departamento` LIMIT 10;")

In [11]:
%spark.pyspark
df_5_sql.show()

In [12]:
%spark.pyspark
df_1_sql.coalesce(1).write.csv("s3://datasetsjppenaf/lab4/4-1",header="true")
df_2_sql.coalesce(1).write.csv("s3://datasetsjppenaf/lab4/4-2",header="true")
df_3_sql.coalesce(1).write.csv("s3://datasetsjppenaf/lab4/4-3",header="true")
df_4_sql.coalesce(1).write.csv("s3://datasetsjppenaf/lab4/4-4",header="true")
df_5_sql.coalesce(1).write.csv("s3://datasetsjppenaf/lab4/4-5",header="true")

In [13]:
%spark.pyspark